html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.root-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header header header header header header header header header header header'
    'main main main main main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}

.header {
  grid-area: header;
  padding: 8px 16px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.padding {
  padding: 8px 16px;
}
