body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --padding-horizontal: 8px;
  --padding-vertical: 8px;
  --margin-horizontal: var(--padding-horizontal);
  --margin-vertical: var(--padding-vertical);
  --border-color: #606060;
  --color-link: #f0d018;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
